In [1]:
import pandas as pd

# To see more text
pd.set_option('display.max_colwidth', None)
pd.set_option("display.max_columns", None)
pd.set_option('display.max_rows', None)

# So we don't have to re-load our custom fx py file each time we edit:
%load_ext autoreload
%autoreload 2

import tidylopy.tidylopy  # tidylo function!

In [7]:
# Load in data -- for simplicity, using same data in demonstration of tidylo
# Aggregated it first in R so it's consistent 
data_path = os.path.normpath(os.getcwd() + os.sep + os.pardir) + '/example_data/'
bigram_counts = pd.read_csv(data_path + 'bigram_counts_r.csv')
bigram_log_odds_r = pd.read_csv(data_path + 'bigram_log_odds_r.csv')

In [9]:
bigram_counts.head()  # Same data we had in R

             book  bigram    n
0  Mansfield Park  of the  708
1  Mansfield Park   to be  582
2            Emma   to be  574
3            Emma  of the  524
4  Mansfield Park  in the  520

In [12]:
# Run tidylopy:
# Output gives you more than R one, but that's easily fixed, just subset to cols you want
bigram_log_odds_py = tidylopy.tidylopy.get_weighted_log_odds(bigram_counts, 'book', 'bigram', 'n')

They are the same!

In [15]:
# Python results
bigram_log_odds_py.head()[['book', 'bigram', 'n', 'log_odds_weighted']]

                     book     bigram    n  log_odds_weighted
91                   Emma  any thing  150          13.310539
2050     Northanger Abbey  pump room   23           9.319514
514   Sense & Sensibility  any thing   58           9.171456
2166     Northanger Abbey   the pump   22           9.114644
2475     Northanger Abbey  the abbey   20           8.690433

In [16]:
# What we got in R from bind_log_odds
bigram_log_odds_r.head()

                  book     bigram    n  log_odds_weighted
0                 Emma  any thing  150          13.310539
1     Northanger Abbey  pump room   23           9.319514
2  Sense & Sensibility  any thing   58           9.171456
3     Northanger Abbey   the pump   22           9.114644
4     Northanger Abbey  the abbey   20           8.690433